### VisualStudio ###
.vs/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### SonarQube ###
.sonar/
.scannerwork/
.sonarlint/

### HardHat Project ###
**/bin
**/obj
**/config.*.json
/HardHat

### win Distribution ###
/dis/win/cmd.mac.sh
/dis/win/mac.sh

### macOS Distribution ###
/dis/win/cmd.win.bat
/dis/win/win.bat